body {
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    background-color: black;
    color: seashell;

}

header {
    display: flex;
    align-items: center;
    place-content: space-between;
    margin-left: 1rem;

}

@media(max-width: 500px) {
    header {
        display: block;
    }
}

.logo {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.5rem ;
}

a:link, a:visited {
    color: seashell;
    text-decoration: underline;
}

a:hover, a:active {
    color: seashell;
}

header .container nav {
    padding: 0.5rem;
}

.banner {
    background-image: url("https://www.psdgraphics.com/file/black-and-white-abstract.jpg");
    height: 34.54rem;
    background-size: cover;
    object-fit: contain;
    max-width: 100%;
    display: flex;
    place-content: center;
    place-items: center;
}

.banner h1 {
    background-color: seashell;
    color: black;


}